/* File: ui/styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.card-title {
    font-size: 1.5rem;
}

#output {
    background-color: #343a40;
    color: #ffffff;
    font-family: monospace;
    overflow-y: auto;
    max-height: 400px;
    padding: 15px;
    border-radius: 5px;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode .bg-light {
    background-color: #1e1e1e !important;
}

.dark-mode .bg-primary {
    background-color: #375a7f !important;
}

.dark-mode .bg-info {
    background-color: #46b8da !important;
}
